.profile-image {
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    margin-left: 10%;
}

.profile-header {
    padding: 50px 0px 50px 0px;
    height: 25%;
    padding-top: 10%;
    position: relative;
    top: -100%;
    -webkit-animation-delay: 2s;
    animation-delay: 0.5s;
    -webkit-animation: slide-down 0.25s forwards;
    animation: slide-down 0.25s forwards;
}

@-webkit-keyframes slide-down {
    100% { top: 0; }
}

@keyframes slide-down {
    100% { top: 0; }
}


.content-header {
    padding: 50px 0px 50px 0px;
    height: 25%;
    padding-top: 5%;
}

.header1 {
    font-size: 8em;
    color: #F6AE2D;
    line-height: 1.2em;
    font-weight: bold;
}

.header2 {
    font-size: 4.5em;
    color: #F6AE2D;
    line-height: 1.2em;
    font-weight: bold;
}

.header3 {
    font-size: 3em;
    color: #F6AE2D;
    line-height: 1.2em;
    font-weight: bold;
}

.grayedOut {
    font-size: 3em;
    color: #FEFAE0;
    line-height: 1.2em;
    font-weight: 500;
}

.grayedOut-minor {
    font-size: 2em;
    color: #FEFAE0;
    line-height: 1.2em;
    font-weight: 500;
    text-decoration: underline;
}

.center-ver-hor {
    margin-top: auto; 
    margin-bottom: auto;
}

.green-background {
    height: 30%;
    width: 100%;
    background-color: #758E4F;
}

.content-card {
    background-color: #FEFAE0;
    border-radius: 50px;
    top: 20%;
    position: absolute;
    width: 100%;
}

.content-card-higher {
    background-color: #FEFAE0;
    border-radius: 50px;
    top: 10%;
    position: absolute;
    width: 100%;
    height: 90%;
}

.list-item {
    background-color: #758E4F;
    border-radius: 25px;
    width: 85%;
    box-shadow: -10px 10px 5px #596D3C;
    margin: 7.5% auto;
    min-height: 150px;
    position: relative;
    -webkit-animation-delay: 2s;
    animation-delay: 0.5s;
}

.right-slide {
    right: -100%;
    -webkit-animation: slide-right 0.25s forwards;
    animation: slide-right 0.25s forwards;
}

.left-slide {
    left: -100%;
    -webkit-animation: slide-left 0.25s forwards;
    animation: slide-left 0.25s forwards;
}

@-webkit-keyframes slide-left {
    100% { left: 0; }
}

@keyframes slide-left {
    100% { left: 0; }
}

@-webkit-keyframes slide-right {
    100% { right: 0; }
}

@keyframes slide-right {
    100% { right: 0; }
}

.content-card .list-item:nth-child(1) {animation-delay: .25s}
.content-card .list-item:nth-child(2) {animation-delay: 0.5s}
.content-card .list-item:nth-child(3) {animation-delay: 0.75s}
.content-card .list-item:nth-child(4) {animation-delay: 1s}

.slide-top {
    position: absolute;
    bottom: -100%;
    -webkit-animation-delay: 2s;
    animation-delay: 0.5s;
    -webkit-animation: slide-top 0.25s forwards;
    animation: slide-top 0.25s forwards;
}

@-webkit-keyframes slide-top {
    100% { bottom: 0; }
}

@keyframes slide-top {
    100% { bottom: 0; }
}

.details-button {
    background-color: #86BBD8;
    color: #FEFAE0;
    display: block;
    border: none;
    min-width: 75%;
    min-height: 85%;
    font-size: 2.5em;
    font-weight: bold;
    float: right;
    border-radius: 25px;
}

.join-button {
    background-color: #F6AE2D;
    color: #FEFAE0;
    display: block;
    border: none;
    min-width: 50%;
    min-height: 75%;
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 25px;
    float: right;
}

hr.green-break {
    border: 5px solid #758E4F;
    margin-bottom: 5%;
}

.profile-icon {
    font-size: 8em;
    color: #758E4F;
}

.center-icons {
    text-align: center;
    z-index: 1;
}

.bottom-toolbar {
    background-color: #758E4F;
    border-radius: 50px 50px 0px 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-height: 7.5%;
    padding-top: 2.5%;
}

.toolbar-icon {
    font-size: 5em;
    color: #FEFAE0;
}

.custom-row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}

.toolbar-button {
    border: none;
    background-color: #758E4F;
}